:root {
    /*--escuro: #1c293d; /* mais claro */
    --escuro-menu: #101825; /* mais escuro */
    --escuro: #142136; /* médio */
    --colorido-escuro: #08c9c8;
    --claro: #f5f5f5;
    --colorido-claro: #ffd700;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--claro);
}

header {
    background-color: var(--escuro-menu);
    /* background-color: #000; */
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    align-items: center;
}

header img {
    width: 40px;
    margin-right: 10px;
}

header a {
    display: flex;
    align-items: center;
    color: var(--claro);
    text-decoration: none;
    font-size: 16pt;
}

nav {
    display: flex;
}

nav a {
    margin: 0 10px;
}

nav img {
    width: 30px;
}

.btn-sem-fundo {    
    background: none;
    border: none;
    cursor: pointer;
}

a {    
    text-decoration: none;
}

nav a:hover {
    color: var(--colorido-claro);
    /* border-bottom: 1px solid var(--colorido-claro); */
    transition: all 0.3s;
}

main {
    margin: 2% 5%;
}

footer {
    background-color: var(--escuro-menu);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

footer p {
    color: var(--claro);
    font-size: 16pt;
}