:root {
    --madrugada-destaque: #5355d0;
    --madrugada-fundo: #43434B;
    --manha-destaque: #c67f3e;
    --manha-fundo: #FFC591;
    /* --tarde-destaque: #43434B; */
    --tarde-fundo: #d67a67;
    /* --noite-destaque: #d67a67; */
    --noite-fundo: #1D2E36;
}



#fundo-verificador-idade {
    background-image: url(../img/fundo-verificador-de-idade.jpg);
    background-position: center center;
    background-size: 150%;
}

#fundo-contador {
    background-image: url(../img/fundo-contador.jpg);
    background-size: 100%;
    font: normal 15pt Arial;
}

#fundo-tabuada {
    background-image: url(../img/fundo-tabuada.jpg);
    background-size: 150%;
}



/* Hora do dia */
#tema {
    font: normal 11pt Arial;
    color: #43434B;
    display: block;
    text-align: center;
}

/* Verificador de idade */
.formulario {
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
    margin: 0 5% 3% 5%;
}

/* Contador */
 .emoji {
    color: var(--colorido-claro);
 }

.inp-margin-esq {
    margin-left: 5%;
}

/* Tabuada */
#selTabuada {
    padding: 3% 5%;
    font: normal 15pt Arial;
    border-radius: 10px;
}

#selTabuada option {
    padding: 5px;
}