:root {
    --madrugada-destaque: #5355d0;
    --madrugada-fundo: #43434B;
    --manha-destaque: #c67f3e;
    --manha-fundo: #FFC591;
    /* --tarde-destaque: #43434B; */
    --tarde-fundo: #d67a67;
    /* --noite-destaque: #d67a67; */
    --noite-fundo: #1D2E36;
}



#fundo-verificador-idade {
    background-image: url(../img/fundo-verificador-de-idade.jpg);
    background-position: center center;
    background-size: 150%;
}



/* Hora do dia */
#imagem {
    width: 300px;
}

#tema {
    font: normal 11pt Arial;
    color: #43434B;
    display: block;
    text-align: center;
}

/* Verificador de idade */
.formulario {
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
    margin: 0 5% 3% 5%;
    /* justify-content: center; */
}

.formulario-dados {
    grid-column: 1 / 2;
    /* background-color: #d67a67; */
    /* margin-left: 5%; */
    /* background-color: #3d6fdb; */
}

.formulario-botao {
    grid-column: 2 / 3;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}