/* body {
    background-color: rgb(92, 133, 194);
} */

:root {
    --madrugada-destaque: #5355d0;
    --madrugada-fundo: #43434B;
    --manha-destaque: #c67f3e;
    --manha-fundo: #FFC591;
    /* --tarde-destaque: #43434B; */
    --tarde-fundo: #d67a67;
    /* --noite-destaque: #d67a67; */
    --noite-fundo: #1D2E36;
}

.principal {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.445);
}

.titulo-principal {    
    color: white;
    text-align: center;
    text-shadow:3px 3px 10px rgba(0, 0, 0, 0.445);
}

.div-dinamica {
    text-align: center;
    padding: 10px;
}

.btn-menor {
    font: normal 12pt Arial;
    padding: 5px 10px;
    border-radius: 8px;
    border-style: none;
    color: white;
    
    background-color: #3d6fdb;
    margin-left: 40%;
}



#imagem {
    width: 300px;
}

#tema {
    font: normal 11pt Arial;
    color: #43434B;
    display: block;
    text-align: center;
}