.info {
    font: normal 16pt Arial;
    margin: 5% 2%;
}

.coluna {
    width: 100%;
}

.projeto {
    height: 480px;
}

.titulo-proposta {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projeto img {
    height: 290px;
}

.div-proposta {
    display: flex;
    align-items: center;
    justify-content: center;
    font: normal 12pt Arial;
    height: 22%;
}

.divSaibaMais a {
    color: var(--escuro);
}

.perguntas img {
    width: 100%;
    border-radius: 25px;
}

.perguntas {
    background-color: var(--fundo-div-claro);
    border-radius: 25px;
    margin: 1%;
    padding: 1%;
    padding-bottom: 3%;
    height: 350px;
}

.titulo-proposta {
    margin: 3% 3% 8% 3%;
}

.img-proximos-passos {
    width: 100%;
    border-radius: 25px;
    margin: 2%;
}

h3 {
    font-size: 20pt;
    color: var(--colorido-claro);
}