.rodape-sem-fundo {
    background: none;
    text-shadow:3px 3px 10px rgba(0, 0, 0, 0.445);
}

.apresentacao {
    text-align: center;
    margin: 12% 0;
}

.apresentacao-titulo {
    text-align: center;
    margin: 2% 0;
}

.titulo {
    font-size: 40pt;
    margin: 0;
    /* width: 60%; */
    width: 70%;
    margin: auto;
    color: var(--escuro);
}

.subtitulo {
    color: var(--colorido-claro);
    font-weight: bold;
    font-size: 14pt;
} 

.principal {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.445);
}

.titulo-principal {    
    color: white;
    text-align: center;
    text-shadow:3px 3px 10px rgba(0, 0, 0, 0.445);
}

.botoes {
    display: flex;
    justify-content: center;
}

.botoes-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    background-color: var(--colorido-claro);
    color: var(--claro);
    border-style: none;
    margin: 2% 0.5%;
    cursor: pointer;
}

.btn-maior {
    font-size: 14pt;
    padding: 1.5% 6%;
    border-radius: 50px;    
    font-weight: bold;
}

.btn-medio {
    font-size: 14pt;
    padding: 6% 20%;
    border-radius: 50px;
}

.btn-menor {
    font-size: 12pt;
    /* padding: 5px 10px; */    
    padding: 7px 20px;
    border-radius: 8px;
}

.inp {
    height: 26px;
    font: normal 12pt Arial;
    padding-left: 8px;
    border-radius: 8px;
    border-width: 1px;
}

.inp-pequeno {
    width: 25%;    
}

.inp-medio {
    width: 35%;
}

.inp-grande {
    width: 50%;
    margin: 2% 0;
}

.div-dinamica {
    text-align: center;
    padding: 1% 5%;
}

.form {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.form-esquerda {
    grid-column: 1 / 2;
}

.form-direita {
    grid-column: 2 / 3;
}

.img {
    width: 300px;
}

.cmb {
    font: normal 12pt Arial;
    padding: 5px 20px;
    border-radius: 8px;
    margin: 2% 1%;
    width: 26%;
}