.apresentacao {
    text-align: center;
}

.titulo {
    font-size: 40pt;
    margin: 0;
    width: 60%;
    margin: auto;
    color: var(--escuro);
}

.subtitulo {
    color: var(--colorido-claro);
    font-weight: bold;
    font-size: 14pt;
}

.btn {
    background-color: var(--colorido-claro);
    border-style: none;
    border-radius: 50px;
    font-size: 14pt;
    font-weight: bold;
    color: var(--claro);
    padding: 1.5% 6%;
    margin: 2% 0.5%;
    cursor: pointer;
}

.botoes {
    display: flex;
    justify-content: center;
}





.apresentacao-entendendo-o-js {
    margin: 12% 0;
}