.rodape-sem-fundo {
    background: none;
    text-shadow:3px 3px 10px rgba(0, 0, 0, 0.445);
}

.apresentacao {
    text-align: center;
    margin: 12% 0;
}

.apresentacao-titulo {
    text-align: center;
    margin: 2% 0;
}

.titulo {
    font-size: 40pt;
    margin: 0;
    /* width: 60%; */
    width: 70%;
    margin: auto;
    color: var(--escuro);
}

.subtitulo {
    color: var(--colorido-claro);
    font-weight: bold;
    font-size: 14pt;
} 

.principal {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.445);
}

.titulo-principal {    
    color: white;
    text-align: center;
    text-shadow:3px 3px 10px rgba(0, 0, 0, 0.445);
}

.botoes {
    display: flex;
    justify-content: center;
}

.btn {
    background-color: var(--colorido-claro);
    color: var(--claro);
    border-style: none;
    margin: 2% 0.5%;
    cursor: pointer;
}

.btn-maior {
    font-size: 14pt;
    padding: 1.5% 6%;
    border-radius: 50px;    
    font-weight: bold;
}

.btn-medio {
    font-size: 14pt;
    padding: 6% 20%;
    border-radius: 50px;
}

.btn-menor {
    font-size: 12pt;
    padding: 5px 10px;
    border-radius: 8px;
}

.inpText {
    height: 25px;
    font: normal 12pt Arial;
    padding-left: 8px;
    border-radius: 8px;
    border-width: 1px;
    width: 25%;
    /* margin-left: 3%; */
}

.div-dinamica {
    text-align: center;
    padding: 10px;
}